h2 {
  color: #889096;
  text-align: center;
  font-family: $font-1;
  margin: 0;
}

.new-form {
  background-color: $dark-gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;

  .button-form {
    display: flex;
  }

  * {
    margin: 5px;
  }

  Input {
    color: white;
    width: max-content;
    span {
      width: 100px;
    }
  }

  .nextui-c-iwmZdB {
    span {
      width: 200px;
    }
    input {
      width: 100%;
    }
    button {
      span {
        display: flex;
        justify-content: end;
      }
    }
  }

  Button {
    margin: auto;
    width: 30%;
  }

  .select {
    height: 30px;
    display: flex;
    background-color: $deep-purple;
    margin: 10px;

    border-radius: 10px;
    .span-bar {
      color: #889096;
      flex: 0.65;
      width: 130px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 20px;
    }

    select {
      flex: 1.65;
      margin: 0;
      height: 100%;
      width: 100%;
      border-radius: 0 10px 10px 0;
      outline: none;
      background-color: $purple;
      border: none;
      color: white;
      text-align: center;
    }
  }
}
