.side-bar {
  background-color: $purple;
  height: 80vh;
  padding: 0;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;

  li {
    font-family: $font-2;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;

    &:hover {
      transform: scale(1.1);
    }
  }
}
