.products {
  display: flex;

  .content {
    flex: 1;
    margin: 1em 30px;
    background-color: $purple;
    border-radius: 10px;
  }
}

.weaponsContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: $white-2;

  li {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: $dark-gray;

    .img-container {
      padding: 10px;
      border-radius: 5px;
      background-color: $deep-purple;
      position: relative;
      min-height: 50px;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      img {
        object-fit: contain;
      }
    }

    h3,
    h4 {
      font-family: $font-1;
    }

    h3 {
      margin-top: 20px;
      margin-bottom: 0;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 20px;
    }
    button {
      position: relative;
      width: calc(100% - 20px);
      margin: auto;
      padding: 10px 5px;
      background-color: $deep-purple;
      color: $white-2;
      border: none;
      border-radius: 5px;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

#assaultContent {
  img {
    width: 200px;
    height: 65px;
  }
}

#pistolsContent {
  img {
    height: 80px;
    width: 200px;
  }
}
