@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Roboto+Condensed&display=swap");

$black: #333333;
$white: #f5f5f5;
$white-2: rgb(222, 222, 222);
$purple: #635985;
$deep-purple: #443c68;
$dark-gray: #393053;
$midnight: #18122b;

$font-1: "Alkatra";
$font-2: "Roboto Condensed";

::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(86, 88, 105);
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: rgba(217, 217, 227, 0.8);
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;

  &:hover {
    background-color: $deep-purple;
  }
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

body {
  margin: 0;
  padding: 0;
  background-color: $midnight;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

.hover {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}

.nav-active {
  color: $white-2;
}

.animation {
  animation: colorToGreen 3s;
}

.choose-categorie {
  display: grid;
  place-items: center;

  h1 {
    font-family: $font-1;
    font-size: 3rem;
  }
}

.active-side {
  background-color: $deep-purple;
  padding: 10px;
  border-radius: 10px;
}

@keyframes colorToGreen {
  0% {
    background-color: green;
  }
}
